.safewithmebrand {
	float: left;
	display: block;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
	font-family: Georgia, serif;
	font-weight: bold;
	font-style: italic;
	color: #505050;
	text-shadow: 1px 1px 0px #101010, -1px -1px 0px #808080;
}

a.safewithmebrand:hover {
	text-decoration: none;
	color:#505050;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

#logo {
	background-image:url('../img/safe-icon-small.png');
	width: 128px;
	height: 128px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
}

header h1 {
	font-size: 1.75em;
	padding-top: 10px;
	padding-bottom: 20px;
	line-height: 1.2em;
	text-align: center;
	text-shadow: 1px 2px 5px rgba(64, 64, 64, 0.5);
}

#html5badge {
	padding-top: 15px;
	padding-left: 15px;
}

.openpgpjs {
	font-size: 19px;
	font-family: Georgia, serif;
	font-weight: bold;
	font-style: italic;
	color:#F8F8F8;
	text-shadow: 1px 1px 1px #808080, -1px -1px 0px #fff;
	float: right;
	padding-top: 25px;
	padding-right: 15px;
}

a.openpgpjs:hover {
	text-decoration: none;
	color:#F8F8F8;
}

/* homepage specific */

#linksToMore article p {
	font: italic 20px/25px Georgia,Times New Roman,serif;
	font-family: Georgia, 'Times New Roman', serif;
	color: #777;
	text-align: center;
	padding-bottom: 30px;
}

#social {
	margin: 0px auto;
	padding-bottom: 15px;
}

#social ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#social ul li {
	display: inline;
}

.facebook {
	float: left;
}

/* about page specific */

#aboutInfo article {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#aboutInfo ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#aboutInfo li {
	padding-top: 10px;
	padding-bottom: 10px;
}

#aboutInfo p {
	margin-left: 60px;
	font: italic 14px/19px Georgia,Times New Roman,serif;
	font-family: Georgia, 'Times New Roman', serif;
	color: #777;
}

.listIcon {
	position: absolute;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
}

#keyIcon {
	background-image:url('../img/key-icon.png');
}

#bulbIcon {
	background-image:url('../img/bulb-icon.png');
}

#mailIcon {
	background-image:url('../img/mail-icon.png');
}

#scriptIcon {
	background-image:url('../img/script-icon.png');
}

#copyIcon {
	background-image:url('../img/copy-icon.png');
}

#prefIcon {
	background-image:url('../img/preferences-icon.png');
}

#toolIcon {
	background-image:url('../img/tool-icon.png');
}